    <form class="example-form">    
        <table>
            <tr>
                <td>
                    <h1>{{title}}</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field  appearance="fill">
                        <input type="search" #userInput placeholder="Entrer un nom de ville">
                    </mat-form-field >
                    <button mat-raised-button color="" (click)="getCity(userInput.value)">Recherche</button>
                </td> 
            </tr> 
            </table>
    
    </form>
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{weather.name}}</mat-card-title>
          <mat-card-subtitle>{{weather.sys.country}}</mat-card-subtitle>
        </mat-card-header>
        <img src="assets/{{ weather.weather[0].icon}}.png" alt="">
        <span style="font-size: 5em;">  {{weather.main.temp  | number: '1.0-0'}} &#176; C</span>
        <table>
            <tbody>
                <tr>
                    <td>Humidity</td><td>{{weather.main.humidity}}%</td>
                </tr>
                <tr>
                    <td>Pressure</td><td>{{weather.main.pressure}} hpa</td>
                </tr>
                <tr>
                    <td>Sunrise</td><td>{{weather.sys.sunrise * 1000 | date:'H:mm'}}</td>
                </tr>
                <tr>
                    <td>Sunset</td><td>{{weather.sys.sunset * 1000 | date:'H:mm'}}</td>
                </tr>
                <tr>
                    <td>Geo coords</td><td>[{{weather.coord.lat}}, {{weather.coord.lon}}]</td>
                </tr>
            </tbody>
        </table>
        <mat-card-content>
          <p>
            {{ weather.weather[0].description}}
          </p>
        </mat-card-content>
      </mat-card>